@{
    ViewData["Title"] = "Home Page";
}


<div class="item radius text-center">
    <div class="item-thumb"><img class="radius" src="~/LandingTemplate/images/category/3.jpg" alt="Item Thumbnail"></div><!-- /.item-thumb -->
    <div class="item-details">
        <a href="#">
            <div class="item-texts">
                <i class="icon-puzzle"></i><span class="item-title">IT & Software</span>
            </div>
        </a>
    </div>
</div>