@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.
<EjsButton CssClass="e-primary">Primary</EjsButton>
<EjsButton CssClass="e-success">Success</EjsButton>
<EjsButton CssClass="e-info">Info</EjsButton>
<EjsButton CssClass="e-warning">Warning</EjsButton>
<EjsButton CssClass="e-danger">Danger</EjsButton>

<br />
<br />

<EjsRichTextEditor>
    <p>RichTextEditor allows to insert images from online source as well as local computer where you want to insert the image in your content.</p>
    <p><b>Get started Quick Toolbar to click on the image</b></p>
    <p>It is possible to add custom style on the selected image inside the RichTextEditor through quick toolbar.</p>
</EjsRichTextEditor>